/Manifest.toml
ciao.jld2
PF72/PF00072_collapsed.fasta
PF72/PF72_params.dat
PF72/PF00072_tree_collapsed_noonlychild_midpointrooted.nwk
PF72/subtree1.nwk
PF72/subtree2.nwk
PF72/generated_leaves/seq1_mu1.27.fa
PF72/generated_leaves/seq1_mu2.54.fa
PF72/generated_leaves/seq1_mu12.72.fa
PF72/generated_leaves/seq1_mu25.44.fa
PF72/generated_leaves/seq2_mu1.27.fa
PF72/generated_leaves/seq2_mu2.54.fa
PF72/generated_leaves/seq2_mu12.72.fa
PF72/generated_leaves/seq2_mu25.44.fa
PF72/generated_leaves/seq3_mu1.27.fa
PF72/generated_leaves/seq3_mu2.54.fa
PF72/generated_leaves/seq3_mu12.72.fa
PF72/generated_leaves/seq3_mu25.44.fa
